<% provide :title, t("home") %>
<% if logged_in? %>
  <aside class="col-md-3">
    <section class="user_info">
      <%= render "shared/user_info" %>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
    <section class="panel">
      <div class="title">
        <%= t "panel" %>
      </div>
      <ul class="menus">
        <li>
          <i class="glyphicon glyphicon-edit"></i>
          <%= link_to t("study.start"), categories_path %>
        </li>
        <li>
          <i class="glyphicon glyphicon-filter"></i>
          <%= link_to t("word.list"), words_path %>
        </li>
        <li>
          <i class="glyphicon glyphicon-signal"></i>
          <%= link_to t("statistic"), "#" %>
        </li>
      </ul>
    </section>
  </aside>
  <aside class="col-md-9">
    <h1 class="shadow"><%= t "new-feed" %></h1>
  </aside>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "welcome" %></h1>
    <h2>
      <%= t "home_content" %>
    </h2>
    <%= link_to t("signup"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>