<%= form_for [:admin, @word] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content, class: "form-control" %>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id,
      options_from_collection_for_select(@categories, :id, :name), class: "form-control"
    %>
  </div>
  <%= f.fields_for :answers do |builder| %>
    <p>
      <%= builder.label :content, t("admin.word.answer") %>
      <%= builder.text_field :content %>
      <%= f.label :correct, class: "checkbox inline" do %>
        <%= builder.check_box :correct, class: "checkbox_left" %>
        <span><%= t "correct_answer" %></span>
      <% end %>
    </p>
 <% end %>

  <%= f.submit t("admin.bottom.save"), class: "btn btn-primary" %>
<% end %>