<%= form_for [:admin, @word] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content, class: "form-control" %>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id,
      options_from_collection_for_select(@categories, :id, :name), class: "form-control"
    %>
  </div>
  <div class="add_answ">
    <div class="col-md-4">
      <%= add_answer raw("<span class='glyphicon glyphicon-plus-sign'></span>"),
        f, :answers %>
    </div>
  </div>
  <div id ="answer_field">
    <%= f.fields_for :answers do |builder| %>
      <p>
        <%= render "answer_fields", f: builder %>
      </p>
    <% end %>
    <p class="new_answer"></p>
  </div>
  <%= f.submit t("admin.bottom.save"), class: "btn btn-primary" %>
<% end %>