<% provide :title, @category.name %>
<div class="col-lg-3">
  <%= render "layouts/side_bar" %>
</div>
<div class="col-lg-9">
  <h2 class="shadow"> <%= @category.name %></h2>
  <p class="description"><em><%= @category.description %></em></p>
  <% if @words.any? %>
    <ul class="words">
      <%= render @words %>
    </ul>
  <% end %>
  <%= will_paginate @words %>
</div>
